.main {
  display: flex;
  max-height: max-content;
  margin-bottom: 15px;
  padding: 2px;
}
.scroll {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}
.noScroll {
  overflow: hidden;
}
