.box {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-position: center;
  background-size: contain;
}
.box:not(:last-child) {
  margin-right: 15px;
}
.t1 {
  font-size: px;
  opacity: 0;
}
