.main {
  max-width: 420px;
  min-width: 360px;
  margin: 20px auto;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}
.ptrm {
  height: max-content;
  position: relative;
}
.body {
  background-color: #f7f6f3;
  padding: 24px 20px;
  min-height: calc(100vh - 80px);
  border-radius: 12px 12px 0 0;
}
@media screen and (max-width: 420px) {
  .main {
    margin: auto;
    border-radius: 0;
  }
}
